body
{
    width: 1440px;
    height: 1093px;
    flex-shrink: 0;
}
.company-logo
{
    width: 167.016px;
    height: 29.461px;
    flex-shrink: 0;
    color: #FFF;
}
#nav-links
{
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
